{% extends "base.html" %}

{% block content %}
<div class="page-header">
	<h1>Djelatnosti</h1>
</div>
<div class="container">
	<div class="lijevo">
		<button class="accordion" class="active">Prodaja računala i ostale informatičke opreme</button>
		<div class="panel">
		  <p>Kod nas možete izvršiti i nadogradnju računala uz naše besplatne savjete oko izbora komponenti za nadogradnju. Isto tako za Vas sastavljamo nova računala iz biranih komponenti koje će sigurno zadovoljiti Vaše potrebe uz što manje izdatke za opremu.</p>
		  <p>Zašto kupovati računalo od 5000 kn ako Vaše potrebe zadovoljava i ono sa dvostruko nižom cijenom. Sastavljamo računala u dogovoru s Vama i u skladu sa Vašim potrebama. Za takva računala vrijedi garancija po komponentama koja iznosi i do 5 godina.</p>
		</div>
		<button class="accordion">Zaštita od virusa</button>
		<div class="panel">
		 <p>U današnje vrijeme naša računala izložena su stalnim napadima raznih zloćudnih programa koji na razne načine žele naštetiti našem računalnom sustavu ili doći do povjerljivih podataka na njemu. Takve programe nazivamo virusima jer su štetni i šire se kao virusi. Računalo se može zaraziti virusima na razne načine – pregledavanjem zaraženih stranica na internetu, otvaranjem zaraženih datoteka u elektronsoj pošti ili jednostavno pokretanjem zaraženog programa ili igrice koju Vam je netko donio.</p>
		 <p>Da bi spriječili širenje virusa na Vaše računalo potrebno je instalirati antivirusni software koji nas obavještava o pronađenim virusima i blokira ih. Mi Vam možemo instalirati antivirusni program Avira koji svakodnevno automatski skida nove definicije virusa sa Interneta da bi Vaše računalo bilo sigurno i od najnovijih virusa.</p>
		 <p>U posljednje vrijeme česte su zaraze tzv MUP virusom, koji blokira računalo i traži uplatu određene svote novca kao kaznu za počinjene nelegalne radnje na internetu. Ne zovite policiju jer ona nema veze s tim a niti Vi niste ništa zgriješili. Pozovite nas jer mi uspješno uklanjamo taj i slične viruse bez gubitka Vaših podataka na računalu.</p>
		</div>
		<button class="accordion">Čišćenje računala</button>
		<div class="panel">
		  <p>Pošto se računalne komponente prilikom rada jako zagrijavaju potrebno ih je dodatno hladiti. To se postiže postavljanjem hladila na komponente koje se najviše zagrijavaju i ventilatora koji dovode hladniji zrak iz okoline. Najveći proizvođač topline u računalu je procesor (CPU) i zbog toga je na njega postavljeno najveće hladilo sa najvećim ventilatorom. Pošto ventilator puše direktno po hladilu kako bi ga mogao ohladiti, dolazi do skupljanja prašine na njemu i s vremenom se može potpuno začepiti. Kad do toga dođe hladan zrak kojeg ubacuje ventilator više ne može strujati kroz hladilo da ga ohladi pa dolazi do pregrijavanja.</p>
		  <p>Simptomi koji ukazuju na to da je došlo vrijeme za čišćenje Vašeg računala su pojačan rad ventilatora (koji sad radi na najvećem broju okretaja pokušavajući ohladiti procesor) i posebno kod prijenosnih računala - gašenje računala zbog ugrađene zaštite od pregrijavanja.</p>
		  <p>Ukoliko zanemarite ove znakove moguće je i oštećenje komponenti zbog pregrijavanja. Pošto je računalo nemoguće zaštititi od prašine potrebno ga je jedanput godišnje očistiti da bi opet disalo punim plućima.</p>
		</div>
	</div>
	<div class="desno">
			<h2>Za sva vaša pitanja stojimo vam na raspolaganju</h2>
			<p class="bold">PC SPEED, vl.Marko Jermen</br>
			Zemunik Donji 11, 23222 Zemunik Donji</br>
			OIB:14248870866</p>
			<p>GSM: <a href="tel:+385959088959">095 9088 959</a></br>
			E-mail: <a href="mailto:marko@pc-speed.hr">marko@pcspeed.hr</a></br>
			Kontakt osoba: Marko Jermen
	</div>	
</div>
{% endblock %}
