{% extends "base.html" %}

{% block content %}
<div class="page-header">
	<h1>PC Speed, vl.Marko Jermen</h1>
</div>
<div class="container">
	<p>
		Obavljamo brzu dijagnostiku, mijenjamo neispravne komponente, čistimo računalo od virusa i prašine te vršimo optimizaciju. Računalo možete donijeti u našu poslovnicu ili ga naši djelatnici preuzimaju i vraćaju na Vašu adresu. Kod manjih kvarova popravak se može izvršiti i kod Vas. Cijene naših usluga PC servisa najpovoljnije su u gradu Zadru i Zadarskoj županiji, a sve usluge servisa računala obavljamo u najkraćem mogućem roku.<br>
		<h2>Za brz, siguran i kvalitetan servis, kontaktirajte PC Speed!</h2>
	</p>
</div>
{% endblock %}
