{% extends "base.html" %}

{% block content %}
<div class="page-header">
	<h1>Kontaktirajte nas</h1>
</div>
<div class="container">
	<div class="lijevo">
		<iframe src="https://mapsengine.google.com/map/embed?mid=zymwjrJGx1Mc.kHECynsMcbSQ&z=9" width="100%" height="480"></iframe><br /><small><a href="https://mapsengine.google.com/map/embed?mid=zymwjrJGx1Mc.kHECynsMcbSQ&z=9" width="100%" height="480"></iframe>Klikni za veću kartu</a></small>
    </div>
	<div class="desno">
			<p class="bold">PC SPEED, vl.Marko Jermen</br>
			Zemunik Donji 11, 23222 Zemunik Donji</br>
			OIB:14248870866</p>
			<p>GSM: <a href="tel:+385959088959">095 9088 959</a></br>
			E-mail: <a href="mailto:marko@pc-speed.hr">marko@pcspeed.hr</a></br>
			Kontakt osoba: Marko Jermen<br><hr>
			<img src="/static/img/qr.png" class="logo" alt="Skeniraj me" width="180px">
	</div>
</div>
{% endblock %}
